/* unvisited link */
a:link {
    color: black;
}
  
/* visited link */
a:visited {
    color: black;
}
  
/* mouse over link */
a:hover {
    color: white;
}
  
  /* selected link */
a:active {
    color: lightslategray;
}

.navbar .navbar-menu .navbar-start {
    justify-content:center;
    display: auto   ;
    width: 100%;
}

