.hero .hero-body {
    background-image: url('../../Images/fondo.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: initial;
    background-size: 100% 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    align-content: center;
}

.backColor {
    background-color: #292929;
    
}

.column {
    border: 2px;
}

.footer {
    background-color: white;
    color: gray;
}